#fb-root
#map

%aside
  .inside
    %h1
      = image_tag 'logo.gif', alt: 'Patiner Montréal', title: 'Patiner Montréal', size: '166x34'
    .social
      .fb-like(data-href="http://patinermontreal.ca" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false")
    .social
      %a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://patinermontreal.ca" data-text="#{t :tweet_text}" data-via="patinermtl" data-lang="#{locale}" data-related="#{t :tweet_related}" data-count="horizontal")
        =t :tweet
    %a(href="https://twitter.com/patinermtl" class="twitter-follow-button" data-show-count="false" data-lang="#{locale}" data-size="large")
      =t :follow
      @patinermtl
    /.fb-like-box(data-href="http://www.facebook.com/OpenNorth.NordOuvert" data-width="292" data-show-faces="false" data-stream="false" data-header="true")
    /.fb-activity(data-site="patinermontreal.ca,www.patinermontreal.ca" data-width="300" data-height="300" data-header="false" data-recommendations="false")
    = form_tag 'https://www.paypal.com/cgi-bin/webscr', authenticity_token: false do
      %h2= t :donation
      = hidden_field_tag 'cmd', '_s-xclick'
      = hidden_field_tag 'hosted_button_id', 'CA2V7LM44QGZG'
      = image_submit_tag 'paypal.png', id: 'paypal', name: 'submit', alt: 'PayPal - The safer, easier way to pay online!'
      = image_tag 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif', alt: '', size: '1x1'

#controls.bar
  #kinds.section
    #PSE.control
      .icon
        = image_tag('PSE.png', :alt => t(:teamsports), :title => t(:teamsports), :size => '55x53')
      %input(type="checkbox")
    #PPL.control
      .icon
        = image_tag('PPL.png', :alt => t(:freeskating), :title => t(:freeskating), :size => '55x53')
      %input(type="checkbox")
    #PP.control
      .icon
        = image_tag('PP.png', :alt => t(:landscaped), :title => t(:landscaped), :size => '55x53')
      %input(type="checkbox")
  #statuses.section
    #deblaye.control
      .icon
        = image_tag 'blank.gif', :alt => t(:cleared), :title => t(:cleared), :size => '44x44'
      .caption
        =t :cleared
    #arrose.control
      .icon
        = image_tag 'blank.gif', :alt => t(:flooded), :title => t(:flooded), :size => '44x44'
      .caption
        =t :flooded
    #resurface.control
      .icon
        = image_tag 'blank.gif', :alt => t(:resurfaced), :title => t(:resurfaced), :size => '44x44'
      .caption
        =t :resurfaced
  #favories.section
    .control
      .icon
        = image_tag 'blank.gif', :alt => t(:favorite), :title => t(:favorite), :size => '44x44'
      .caption
        =t :favorite
  #branding.section
    = link_to image_tag("opennorth-#{locale}.png", alt: t(:opennorth), title: t(:opennorth), size: '186x61'), t(:opennorth_url)
    = link_to image_tag("montrealouvert-#{locale}.png", alt: t(:montrealouvert), title: t(:montrealouvert), size: t(:montrealouvert_size)), "http://montrealouvert.net/donnees-ouvertes-questions-frequemment-demandees/?lang=#{locale}"

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId  : '152478391528436',
      status : true,
      cookie : true,
      oauth  : true,
      xfbml  : true,
      channelUrl  : 'http://patinermontreal.ca/channel'
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/#{t :facebook_locale}/all.js#appId=152478391528436&xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));

  var locale = '#{locale}';
  var env = '#{Rails.env}';
  var json = #{@rinks.to_json(only: [:id, :slug, :genre, :description, :parc, :ouvert, :deblaye, :arrose, :resurface, :condition, :adresse, :tel, :ext, :lat, :lng])};

:plain
  <script type="text/template" id="popup-template">
    <h2>
      <img src="/assets/<%= genre %>_small.png" alt="<%= t('_' + genre) %>" title="<%= t('_' + genre) %>" width="28" height="27">
      <%= parc %>
    </h2>
    <h3>
      <%= t(description) %>
    </h3>
    <% if (adresse) { %>
      <p>
        <%= adresse %>
        <% if (tel) { %>
          <br>
          <%= tel.replace(/([0-9]{3})([0-9]{3})([0-9]{4})/, '($1) $2-$3') %>
          <% if (ext) { %>
            <%= 'x' + ext %>
          <% } %>
        <% } %>
      </p>
    <% } %>
    <% if (ouvert === false) { %>
      <p><strong>Fermée</strong></p>
    <% } else if (ouvert === true) { %>
      <p><strong><%= t('condition', {condition: t(condition)}) %></strong></p>
      <div class="statuses">
        <div class="icon deblaye<% if (deblaye) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('cleared') %>" title="<%= t('cleared') %>" width="28" height="28">
        </div>
        <div class="icon arrose<% if (arrose) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('flooded') %>" title="<%= t('flooded') %>" width="28" height="28">
        </div>
        <div class="icon resurface<% if (resurface) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('resurfaced') %>" title="<%= t('resurfaced') %>" width="28" height="28">
        </div>
        <!-- @todo
        <div class="icon favorite<% if (favorite) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t(favorite ? 'remove_favorite' : 'add_favorite') %>" title="<%= t(favorite ? 'remove_favorite' : 'add_favorite') %>" width="28" height="28">
        </div>
        -->
      </div>
    <% } else { %>
      <!-- @todo instructions to contact borough to publish data -->
    <% } %>
    <!-- @todo add text explaining purpose of social sharing -->
    <!-- @todo add "i'm going" for Facebook + track click for Twitter, Facebook -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://patinermontreal.ca/<%= url %>" data-text="<%= t('tweet_text_' + genre, {park: parc}) %>" data-via="patinermtl" data-related="<%= t('tweet_related') %>" data-lang="<%= locale %>" data-size="large" data-count="none"><%= t('tweet') %></a>
  </script>
