#map

#controls.bar
  #kinds.section
    #PP.control
      .icon
        = image_tag('PP.png', :alt => t(:landscaped), :title => t(:landscaped), :size => '55x53')
      %input(type="checkbox")
    #PPL.control
      .icon
        = image_tag('PPL.png', :alt => t(:freeskating), :title => t(:freeskating), :size => '55x53')
      %input(type="checkbox")
    #PSE.control
      .icon
        = image_tag('PSE.png', :alt => t(:teamsports), :title => t(:teamsports), :size => '55x53')
      %input(type="checkbox")
  #statuses.section
    #deblaye.control
      .icon
        = image_tag 'blank.gif', :alt => t(:cleared), :title => t(:cleared), :size => '44x44'
      .caption
        =t :cleared
    #arrose.control
      .icon
        = image_tag 'blank.gif', :alt => t(:flooded), :title => t(:flooded), :size => '44x44'
      .caption
        =t :flooded
    #resurface.control
      .icon
        = image_tag 'blank.gif', :alt => t(:resurfaced), :title => t(:resurfaced), :size => '44x44'
      .caption
        =t :resurfaced
  #favories.section
    .control
      .icon
        = image_tag 'blank.gif', :alt => t(:favorite), :title => t(:favorite), :size => '44x44'
      .caption
        =t :favorite
  #branding.section

:javascript
  var locale = '#{locale}';
  var env = '#{Rails.env}';
  var json = #{@rinks.to_json(only: [:id, :nom, :genre, :ouvert, :deblaye, :arrose, :resurface, :condition, :adresse, :tel, :ext, :lat, :lng])};