#fb-root
#map

#language
  = link_to t(:other_language), "http://#{t :other_locale}.#{request.domain}#{translated_path}"

%aside
  #inside
    %h1.item
      = image_tag 'logo.gif', alt: 'Patiner Montréal', title: 'Patiner Montréal', size: '166x34'
    .item
      %h2
        = t :open_rinks, count: @count
      %p
        = t :last_updated
        = l @last_updated.in_time_zone('Eastern Time (US & Canada)'), format: :long
      %p
        = link_to t(:modal), '#', 'data-controls-modal' => 'about'
    .item
      .fb-like(data-href="http://patinermontreal.ca" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false")
      %a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://patinermontreal.ca" data-text="#{t :tweet_text}" data-via="patinermtl" data-lang="#{locale}" data-related="#{t :tweet_related}" data-count="horizontal")
        =t :tweet
      %a(href="https://twitter.com/patinermtl" class="twitter-follow-button" data-show-count="false" data-lang="#{locale}")
        =t :follow
        @patinermtl
    .item
      = form_tag 'http://opennorth.us2.list-manage.com/subscribe/post?u=a602fac79ef3dc584bf1a2743&id=1258cb62e9', authenticity_token: false, name: 'mc-embedded-subscribe-form', id: 'mc-embedded-subscribe-form', class: 'validate', target: '_blank' do
        %h2=t :newsletter
        .inline-inputs
          = email_field_tag 'EMAIL', nil, id: 'mce-EMAIL', class: 'required email', placeholder: t(:placeholder), required: 'required'
          = submit_tag t(:subscribe), name: 'subscribe', id: 'mc-embedded-subscribe', class: 'btn primary'
    %p.item
      = link_to image_tag('android.png', alt: t(:android), title: t(:android), size: '117x45'), 'https://market.android.com/details?id=ca.mudar.patinoires'

#about.modal.hide.fade
  .modal-header
    = link_to '×', '#', class: 'close'
    %h3=t :modal
  .modal-body
    %p= t(:footer).html_safe
    %p= t(:license).html_safe
    %p= t(:data, json_path: data_path(format: :json), xml_path: data_path(format: :xml)).html_safe
    %p= t(:sources).html_safe
    %p= t :disclaimer

#controls.bar
  #kinds.section
    #PSE.control
      .icon
        - if mobile?
          = image_tag('PSE-mobile.png', :alt => t(:teamsports), :title => t(:teamsports), :size => '44x42')
        - else
          = image_tag('PSE.png', :alt => t(:teamsports), :title => t(:teamsports), :size => '55x53')
      %input(type="checkbox")
    #PPL.control
      .icon
        - if mobile?
          = image_tag('PPL-mobile.png', :alt => t(:freeskating), :title => t(:freeskating), :size => '44x42')
        - else
          = image_tag('PPL.png', :alt => t(:freeskating), :title => t(:freeskating), :size => '55x53')
      %input(type="checkbox")
    #PP.control
      .icon
        - if mobile?
          = image_tag('PP-mobile.png', :alt => t(:landscaped), :title => t(:landscaped), :size => '44x42')
        - else
          = image_tag('PP.png', :alt => t(:landscaped), :title => t(:landscaped), :size => '55x53')
      %input(type="checkbox")
  #statuses.section
    #ouvert.control
      .icon
        = image_tag 'blank.gif', :alt => t(:open), :title => t(:open), :size => '44x44'
      .caption
        =t :open
    #deblaye.control
      .icon
        = image_tag 'blank.gif', :alt => t(:cleared), :title => t(:cleared), :size => '44x44'
      .caption
        =t :cleared
    #arrose.control
      .icon
        = image_tag 'blank.gif', :alt => t(:flooded), :title => t(:flooded), :size => '44x44'
      .caption
        =t :flooded
    #resurface.control
      .icon
        = image_tag 'blank.gif', :alt => t(:resurfaced), :title => t(:resurfaced), :size => '44x44'
      .caption
        =t :resurfaced
  #favories.section
    .control
      .icon
        = image_tag 'blank.gif', :alt => t(:favorite), :title => t(:favorite), :size => '44x44'
      .caption
        =t :favorite
  #branding.section
    = link_to image_tag("opennorth-#{locale}.png", alt: t(:opennorth), title: t(:opennorth), size: '186x61'), t(:opennorth_url)
    = link_to image_tag("montrealouvert-#{locale}.png", alt: t(:montrealouvert), title: t(:montrealouvert), size: '48x78'), "http://montrealouvert.net/donnees-ouvertes-questions-frequemment-demandees/?lang=#{locale}"

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId  : '152478391528436',
      status : true,
      cookie : true,
      oauth  : true,
      xfbml  : true,
      channelUrl  : 'http://patinermontreal.ca/channel'
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/#{t :facebook_locale}/all.js#appId=152478391528436&xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));

  var locale = '#{locale}';
  var env = '#{Rails.env}';
  var json = #{@rinks.to_json(only: [:id, :slug, :genre, :description, :parc, :ouvert, :deblaye, :arrose, :resurface, :condition, :adresse, :tel, :ext, :lat, :lng], include: {arrondissement: {only: [:nom_arr, :name, :email, :tel, :ext]}})};

:plain
  <script type="text/template" id="popup-template">
    <h2>
      <img src="/assets/<%= genre %>_small.png" alt="<%= t('_' + genre) %>" title="<%= t('_' + genre) %>" width="28" height="27">
      <%= parc %>
    </h2>
    <h3>
      <%= t(description) %>
    </h3>
    <% if (adresse) { %>
      <p class="address">
        <%= adresse %>
        <% if (tel) { %><br><%= Helpers.numberToPhone(tel, {extension: ext}) %><% } %>
      </p>
    <% } %>
    <% if (ouvert === true) { %>
      <p class="condition"><%= t('condition', {condition: t(condition)}) %></p>
      <div class="statuses">
        <div class="icon deblaye<% if (deblaye) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('cleared') %>" title="<%= t('cleared') %>" width="28" height="28">
        </div>
        <div class="icon arrose<% if (arrose) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('flooded') %>" title="<%= t('flooded') %>" width="28" height="28">
        </div>
        <div class="icon resurface<% if (resurface) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('resurfaced') %>" title="<%= t('resurfaced') %>" width="28" height="28">
        </div>
        <div class="icon favorite<% if (favorite) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t(favorite ? 'remove_favorite' : 'add_favorite') %>" title="<%= t(favorite ? 'remove_favorite' : 'add_favorite') %>" width="28" height="28">
        </div>
      </div>
    <% } else if (condition) { %>
      <p class="condition"><%= t('closed') %></p>
    <% } else if (arrondissement.email) { %>
      <p class="condition"><%= t('unknown_condition') %></p>
      <div class="call-to-action">
        <p><%= t('instructions', {region: arrondissement.nom_arr}) %></p>
        <p>
          <% if (arrondissement.name) { %><%= arrondissement.name %><br><% } %>
          <a href="mailto:<%= arrondissement.email %>"><%= arrondissement.email %></a><br>
          <%= Helpers.numberToPhone(arrondissement.tel, {extension: arrondissement.ext}) %>
        </p>
      </div>
    <% } %>
    <% if (ouvert || !condition) { %>
      <div class="call-to-action">
        <p><strong><%= t('explanation') %></strong></p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://patinermontreal.ca/<%= url %>" data-text="<%= t('tweet_text_' + genre, {park: parc}) %>" data-via="patinermtl" data-related="<%= t('tweet_related') %>" data-lang="<%= locale %>" data-size="large" data-count="none"><%= t('tweet') %></a>
      </div>
    <% } %>
  </script>
