#map

%header#top-nav
  %nav{:class => 'navbar navbar-inverse' , :role => 'navigation'}
    .container-fluid
      .navbar-header
        %h1#branding-logo.navbar-brand
          %span.hide Patiner Montréal
        %h2.hide=t :site_title
        = button_tag :class => 'navbar-toggle', :type => 'button', 'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse' do
          %span.fa.fa-navicon.fa-inverse
            %span.sr-only Toggle navigation
      .collapse.navbar-collapse
        %ul.nav.nav-pills.navbar-right
          %li
            = link_to 'https://market.android.com/details?id=ca.mudar.patinoires', title: t(:android), class: 'fa fa-android navbar-btn' do
              %span.hide=t :android
          %li
            = link_to "https://itunes.apple.com/ca/app/pank/id791417074?l=#{locale}&amp;mt=8", title: t(:iphone), class: 'fa fa-apple navbar-btn' do
              %span.hide=t :iphone
          %li#nav-twitter
            = link_to 'https://twitter.com/patinermtl', title: t(:twitter_account), class: 'fa fa-twitter navbar-btn' do
              %span.hide=t :twitter_account
          -#%li#nav-thanks
            = link_to t(:thanks_modal), '#thanks', 'data-toggle' => 'modal', class: 'navbar-btn'
          %li
            = link_to t(:weather_modal), '#weather', 'data-toggle' => 'modal', class: 'navbar-btn'
          %li
            = link_to t(:about_modal), '#about', 'data-toggle' => 'modal', class: 'navbar-btn'
          %li#language
            = link_to t(:other_language), "http://#{t :other_locale}.#{request.domain}#{translated_path}", class: 'navbar-btn'
%aside#social
  %h2.hide=t :social
  .navbar.navbar-default
    .container-fluid
      %ul.nav.nav-stacked
        %li
          %h3= t :share
          .btn-group.btn-group-justified
            = link_to "http://twitter.com/share?url=http%3A%2F%2Fpatinermontreal.ca&text=#{t :tweet_text}&via=patinermtl", title: "Twitter", class: "btn btn-default btn-twitter", target: "_blank" do
              %span.hide Twitter
              %span.fa.fa-twitter.fa-lg
            = link_to 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fpatinermontreal.ca', title: "Facebook", class: "btn btn-default btn-facebook", target: "_blank" do
              %span.hide Facebook
              %span.fa.fa-facebook.fa-lg
        %li.embeded
          %a.navbar-btn(href="https://twitter.com/patinermtl" data-width="180px" class="twitter-follow-button" data-show-count="false" data-size="large" data-lang="#{locale}" data-dnt="true" data-screen_name="patinermtl")
            =t :follow
        %li
          %h3= t :newsletter
          = form_tag 'http://opennorth.us2.list-manage.com/subscribe/post?u=a602fac79ef3dc584bf1a2743&id=1258cb62e9', authenticity_token: false, name: 'mc-embedded-subscribe-form', id: 'mc-embedded-subscribe-form', class: 'validate', target: '_blank' do
            %fieldset
              %legend.hide=t :newsletter
              .form-group
                = email_field_tag 'EMAIL', nil, id: 'mce-EMAIL', class: 'required email form-control input-sm', placeholder: t(:placeholder), required: 'required'
              = submit_tag t(:subscribe), name: 'subscribe', id: 'mc-embedded-subscribe', class: 'btn btn-default btn-sm'
  = link_to '#social', title: t(:social), class: 'fa-stack fa-lg', id: 'share-toggle', style: 'display: none;' do
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-share-alt.fa-stack-1x.fa-inverse

%footer#bottom-controls
  %div{:class => 'panel'}
    .panel-body
      #branding.pull-right
        = link_to image_tag("montrealouvert-#{locale}.png", alt: t(:montrealouvert), title: t(:montrealouvert)), "http://montrealouvert.net/?lang=#{locale}", target: '_top'
      .col-md-8.pull-left
        .btn-toolbar
          #kinds.btn-group
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'PSE', :title => t(:teamsports) do
              %span.icon
                %span.hide=t(:teamsports)
            %span
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'PPL', :title => t(:freeskating) do
              %span.icon
                %span.hide=t(:freeskating)
            %span
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'PP', :title => t(:landscaped) do
              %span.icon
                %span.hide=t(:landscaped)
            %span
          #statuses.btn-group
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'ouvert', :title => t(:open) do
              %span.icon
                %span.hide=t(:open)
            %span
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'deblaye', :title => t(:cleared) do
              %span.icon
                %span.hide=t(:cleared)
            %span
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'arrose', :title => t(:flooded) do
              %span.icon
                %span.hide=t(:flooded)
            %span
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'resurface', :title => t(:resurfaced) do
              %span.icon
                %span.hide=t(:resurfaced)
          .btn-group
            = button_tag :class => 'btn btn-default control', :type => 'button', :id => 'favories', :title => t(:favorite) do
              %span.icon
                %span.hide=t(:favorite)

      #open-rinks.col-md-2
        %small.legend= t :open_rinks, count: number_to_percentage(@fraction * 100, precision: 0)
        .progress
          .progress-bar.progress-bar-warning{:role=> 'progressbar', 'aria-valuenow' => 60, 'aria-valuemin' => 0, 'aria-valuemax' => 100, :style => 'min-width: 30px; width: ' + number_to_percentage(@fraction * 100, precision: 0)}
            = number_to_percentage(@fraction * 100, precision: 0)

%section#about.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag :class => 'close', :type => 'button', 'data-dismiss' => 'modal' do
          %span &times;
          %span.sr-only=t :close
        %h2=t :about_modal
      .modal-body
        #branding-about.pull-right
          = link_to image_tag("montrealouvert-about-#{locale}.png", alt: t(:montrealouvert), title: t(:montrealouvert)), "http://montrealouvert.net/?lang=#{locale}", target: '_top'
        %p= t(:license).html_safe
        %p= t(:data, json_path: data_path(format: :json), xml_path: data_path(format: :xml)).html_safe
        %p= t(:sources).html_safe
%section#weather.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag :class => 'close', :type => 'button', 'data-dismiss' => 'modal' do
          %span &times;
          %span.sr-only=t :close
        %h2=t :weather_title
      .modal-body
        #weather_openweather
          #openweathermap-widget
        %iframe#weather_gc{:src => "//weather.gc.ca/wxlink/wxlink.html?cityCode=qc-147&lang=" + t(:weather_gc_locale), :allowtransparency => "true"}
-#%section#thanks.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag :class => 'close', :type => 'button', 'data-dismiss' => 'modal' do
          %span &times;
          %span.sr-only=t :close
        %h2=t :thanks_modal
      .modal-body
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGp0a1lINU15QUE2R3BYVW14NmpxSEE6MQ" width="700" height="480">Loading...</iframe>

:javascript
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));

  var locale = '#{locale}';
  var env = '#{Rails.env}';
  var json = #{@rinks.to_json(only: [:id, :slug, :genre, :description, :parc, :ouvert, :deblaye, :arrose, :resurface, :condition, :adresse, :tel, :ext, :lat, :lng], include: {arrondissement: {only: [:nom_arr, :name, :email, :tel, :ext, :date_maj]}})};

  window.myWidgetParam = { id: 21, lang: '#{locale}', cityid: 6077243, appid: '99275f98d42492934b7b812f0b77cdbb', containerid: 'openweathermap-widget' };

:plain
  <script type="text/template" id="popup-template">
    <div id="rink-info">
      <a href="#fav" class="fa-stack fa-lg icon favorite <%= ( favorite ? 'active' : '' ) %>" id="favorite-toggle" title="<%= t( favorite ? 'remove_favorite' : 'add_favorite' ) %>">
        <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-heart fa-stack-1x fa-inverse"></i><i class="fa fa-heart-o fa-stack-1x"></i>
      </a>
      <h3><span class="icon <%= genre %>" title="<%= t('_' + genre) %>"></span><%= parc %></h3>
      <h4><%= t(description) %></h4>
      <% if (adresse) { %>
        <div class="address">
          <%= adresse %>
          <div class="borough"><%= arrondissement.nom_arr %></div>
          <% if (tel) { %><div><a class="phone" href="tel:<%= tel %>"><span class="fa fa-phone"></span><%= Helpers.numberToPhone(tel, {extension: ext}) %></a></div><% } %>
        </div>
      <% } %>
      <% if (ouvert === true) { %>
        <p class="condition">
        <% if (condition === 'N/A') { %>
          <span class="desc"><%= t('unknown_condition') %></span>
        <% } else { %>
          <span class="desc"><%= t('condition', {condition: t(condition)}) %></span>
          <span class="update-date">(<%= format_date(arrondissement.date_maj) %>)</span>
        <% } %>
        </p>
        <div class="statuses">
          <span title="<%= t('cleared') %>" class="icon deblaye <%= ( deblaye ? 'active' : '' ) %>"></span>
          <span title="<%= t('flooded') %>" class="icon arrose <%= ( arrose ? 'active' : '' ) %>"></span>
          <span title="<%= t('resurfaced') %>" class="icon resurface <%= ( resurface ? 'active' : '' ) %>"></span>
        </div>
      <% } else if (condition) { %>
        <p class="condition">
          <span class="desc"><%= t('closed') %></span>
          <span class="update-date">(<%= format_date(arrondissement.date_maj) %>)</span>
        </p>
      <% } else { %>
        <p class="condition unknown">
          <%= t('unknown_condition') %>
        </p>
        <% if (arrondissement.email || arrondissement.tel) { %>
          <div class="call-to-action request">
            <p><span class="fa fa-2x pull-left fa-info-circle"></span> <%= t('call_to_action') %></p>
            <div class="btn-group">
              <% if (arrondissement.email) { %><a href="mailto:<%= arrondissement.email %>?subject=<%= encodeURIComponent("Mises à jour régulières de l’état des patinoires extérieures") %>&body=<%= Helpers.body(arrondissement) %>" class="btn btn-default btn-sm"><span class="fa fa-envelope-o"></span> <%= t('request_email') %></a><% } %>
              <% if (arrondissement.tel) { %><a href="tel:<%= arrondissement.tel %>" class="btn btn-default btn-sm"><span class="fa fa-phone"></span> <%= Helpers.numberToPhone(arrondissement.tel, {extension: arrondissement.ext}) %></a><% } %>
            </div>
          </div>
        <% } %>
      <% } %>
      <% if (ouvert || !condition) { %>
        <hr />
        <div class="call-to-action twitter">
          <p><%= t('explanation') %></p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://patinermontreal.ca/<%= url %>" data-size="medium" data-text="<%= t('tweet_text_' + genre, {park: parc}) %>" data-via="patinermtl" data-lang="<%= locale %>" data-size="large" data-count="none"><%= t('tweet') %></a>
        </div>
      <% } %>
    </div>
  </script>
