#map

#controls.bar
  #kinds.section
    #PSE.control
      .icon
        = image_tag('PSE.png', :alt => t(:teamsports), :title => t(:teamsports), :size => '55x53')
      %input(type="checkbox")
    #PPL.control
      .icon
        = image_tag('PPL.png', :alt => t(:freeskating), :title => t(:freeskating), :size => '55x53')
      %input(type="checkbox")
    #PP.control
      .icon
        = image_tag('PP.png', :alt => t(:landscaped), :title => t(:landscaped), :size => '55x53')
      %input(type="checkbox")
  #statuses.section
    #deblaye.control
      .icon
        = image_tag 'blank.gif', :alt => t(:cleared), :title => t(:cleared), :size => '44x44'
      .caption
        =t :cleared
    #arrose.control
      .icon
        = image_tag 'blank.gif', :alt => t(:flooded), :title => t(:flooded), :size => '44x44'
      .caption
        =t :flooded
    #resurface.control
      .icon
        = image_tag 'blank.gif', :alt => t(:resurfaced), :title => t(:resurfaced), :size => '44x44'
      .caption
        =t :resurfaced
  #favories.section
    .control
      .icon
        = image_tag 'blank.gif', :alt => t(:favorite), :title => t(:favorite), :size => '44x44'
      .caption
        =t :favorite
  #branding.section
    = image_tag 'logo.png', alt: 'Patiner Montréal', title: 'Patiner Montréal', size: '166x34'
    = link_to image_tag("opennorth-#{locale}.png", alt: t(:opennorth), title: t(:opennorth), size: '186x61'), t(:opennorth_url)
    = link_to image_tag("montrealouvert-#{locale}.png", alt: t(:montrealouvert), title: t(:montrealouvert), size: '150x50'), "http://montrealouvert.net/donnees-ouvertes-questions-frequemment-demandees/?lang=#{locale}"

:javascript
  var locale = '#{locale}';
  var env = '#{Rails.env}';
  var json = #{@rinks.to_json(only: [:id, :slug, :genre, :description, :parc, :ouvert, :deblaye, :arrose, :resurface, :condition, :adresse, :tel, :ext, :lat, :lng])};

:plain
  <script type="text/template" id="popup-template">
    <h2><%= t(description) %>, <%= parc %></h2>
    <% if (adresse) { %>
      <p>
        <%= adresse %>
        <% if (tel) { %>
          <br>
          <%= tel.toString().replace(/([0-9]{3})([0-9]{3})([0-9]{4})/, '($1) $2-$3') %>
          <% if (ext) { %>
            <%= 'x' + ext %>
          <% } %>
        <% } %>
      </p>
    <% } %>
    <% if (ouvert === false) { %>
      <p><strong>Fermée</strong></p>
    <% } else if (ouvert === true) { %>
      <p><strong><%= t('condition', {condition: t(condition)}) %></strong></p>
      <div class="statuses">
        <div class="icon deblaye<% if (deblaye) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('cleared') %>" title="<%= t('cleared') %>" width="28" height="28">
        </div>
        <div class="icon arrose<% if (arrose) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('flooded') %>" title="<%= t('flooded') %>" width="28" height="28">
        </div>
        <div class="icon resurface<% if (resurface) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t('resurfaced') %>" title="<%= t('resurfaced') %>" width="28" height="28">
        </div>
        <!-- @todo
        <div class="icon favorite<% if (favorite) { %> active<% } %>">
          <img src="/assets/blank.gif" alt="<%= t(favorite ? 'remove_favorite' : 'add_favorite') %>" title="<%= t(favorite ? 'remove_favorite' : 'add_favorite') %>" width="28" height="28">
        </div>
        -->
      </div>
      <!-- @todo i'm going (Twitter, Facebook) -->
    <% } else { %>
      <!-- @todo instructions to contact borough to publish data -->
    <% } %>
  </script>
